@use 'theme/sizing.module';
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.navbar {
  background-color: black;
  padding: sizing.rem(10px) sizing.rem(50px);
}

.navbarText {
  color: white;
  font-weight: bold;
  font-size: sizing.rem(16px);
}

.body {
  display: flex;
  flex: 1;
  margin: sizing.rem(25px) sizing.rem(50px);
}

.canvasCard {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: sizing.rem(10px);
}

.canvasImage {
  width: sizing.rem(600px);
}

.editCanvas {
  display: flex;
  flex: 1;
  width: 100%;
}

.verticalDivider {
  border-left: black solid 1px;
  height: 100%;
  margin: 0 sizing.rem(25px);
}

.canvasOptionPickerWrapper {
  padding-left: sizing.rem(20px);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.optionPicker {
  display: flex;
  justify-content: center;
}

.colorPill {
  height: sizing.rem(30px);
  width: sizing.rem(30px);
  border-radius: 50%;
  border: 1px solid black;
  margin: sizing.rem(20px);
  cursor: pointer;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
